<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>regist</title>
    <link style="">
</head>
<body align="center">
<form action="/profile" method="post">
    userName:<input type="text" name="userName">
    <hr/>
    password:<input type="text" name="password">
    <hr/>

    happy:<input type="checkbox" value="酒" name="hobby">酒
    <input type="checkbox" value="色" name="hobby">色
    <input type="checkbox" value="财" name="hobby">财
    <input type="checkbox" value="气" name="hobby">气
    <hr/>
    <input type="submit" value="注册">

    <h1>{{args}}</h1>
    <h2>用户名：{{args.get('name')}}</h2>
    <h2>密码：{{args.get('password')}}</h2>

    {% if args['name'] == 'lishulong'%}
    <h1> this is if </h1>
    {% else %}
    <h1> this is else </h1>
    {% end %}

</form>

</body>
</html>