<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chat</title>
    <script type="text/javascript" charset="utf-8" src="{{static_url('js/jquery.js')}}"></script>
</head>
<body>

<div id="content">
    <div>
        <input type="text" id="message"/>
        <button onclick="sendMSG()">Send</button>
    </div>
</div>
<script type="text/javascript">
    var ws = new WebSocket('ws://192.168.179.27:2000/chat')

    ws.onmessage = function (p1) {
        console.log(p1.data)
        $('#content').append("<p>" + p1.data + "</p>")
    }

    function sendMSG() {
        var message = $('#message').val()
        ws.send(message)
        $('#message').val('')
    }
</script>
</body>
</html>